<div data-role="view" data-title="report" data-layout="main" data-model="app.formView" data-show="app.formView.onShow" data-after-show="app.formView.afterShow">
    <div class="start-report-view">
        <div class="row" style="margin-top: 10%;">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4" data-bind="events: { click: formViewModel.takePhoto }">
                <a class="circle-button" data-role="button" id="capturePhotoButton">
                    <p>Start new report</p>
                </a>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
        <div class="row" style="margin-top: 10%;">
            <div class="col-xs-12">
                <p style="text-align: center;">
                    Authorities in your current location
                </p>
                <div id="listView" data-role="listview" data-template="locationInfo">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10%;">
            <div class="col-xs-12">
                <p style="text-align: center;">
                    Sponsored by
                </p>
            </div>
            <div class="row" style="display: table;">
                <div class="col-xs-3" style="float: none; display: table-cell;">
                    <img style="width: 100%; height:auto;" src="images/temp/lukoil.jpg" />
                </div>
                <div class="col-xs-3" style="float: none; display: table-cell;">
                    <img style="width: 100%; height:auto;" src="images/temp/billa.jpg" />
                </div>
                <div class="col-xs-3" style="float: none; display: table-cell;">
                    <img style="width: 100%; height:auto;" src="images/temp/vivacom.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="steps-view row" style="height: 35px;">
        <div class="col-xs-3" style="height: 100%; padding-top: 7px; text-align:center;">
            Camera
        </div>
        <div class="col-xs-3" style="height: 100%; padding-top: 7px; text-align:center">
            Location
        </div>
        <div class="col-xs-3" style="height: 100%; padding-top: 7px; text-align:center">
            Category
        </div>
        <div class="col-xs-3" style="height: 100%; padding-top: 7px; text-align:center">
            Info
        </div>
    </div>
    <div class="photos-view">
        <div id="scrollview" data-role="scrollview" data-template="tmpl" data-items-per-page="1">
        </div>
        <a data-role="button" id="capturePhotoButton" data-bind="events: { click: formViewModel.takePhoto }">
            <p>take another photo</p>
        </a>
    </div>
    <div class="location-view">
        <div id="map" style="width:100%;height:400px;"></div>
    </div>
    <div class="comment-view">
        <div class="demo-section k-content">
            <h4>Select Car Engine</h4>
            <ul class="fieldlist">
                <li>
                    <input type="radio" name="engine" id="engine1" class="k-radio">
                    <label class="k-radio-label" for="engine1">Категория 1</label>
                </li>
                <li>
                    <input type="radio" name="engine" id="engine2" class="k-radio">
                    <label class="k-radio-label" for="engine2">Категория 2</label>
                </li>
                <li>
                    <input type="radio" name="engine" id="engine3" class="k-radio">
                    <label class="k-radio-label" for="engine3">Категория 3</label>
                </li>
                <li>
                    <input type="radio" name="engine" id="engine4" class="k-radio">
                    <label class="k-radio-label" for="engine4">Категория 4</label>
                </li>
                <li>
                    <input type="radio" name="engine" id="engine5" class="k-radio">
                    <label class="k-radio-label" for="engine5">Категория 5</label>
                </li>
                <li>
                    <input type="radio" name="engine" id="engine6" class="k-radio">
                    <label class="k-radio-label" for="engine6">Категория 6</label>
                </li>
            </ul>
            <textarea style="width:100%;resize: none;" name="test" rows="10" id="test"> This is a long line of text this is a long line of text this is a long line of text</textarea>
        </div>
    </div>
    <div class="user-info-view">
        user info
    </div>
    <div class="prev-next">
        <a data-role="button" id="capturePhotoButton" data-bind="events: { click: formViewModel.prev }">
            <p>назад</p>
        </a>
        <a data-role="button" id="capturePhotoButton" data-bind="events: { click: formViewModel.next }">
            <p>напред</p>
        </a>
    </div>
</div>
<script type="text/x-kendo-template" id="tmpl">
    <div data-role="page">
        <img class="photo" style="width:100%;height:auto" src="data:image/jpeg;base64,#=img#">
    </div>
</script>
<script type="text/x-kendo-template" id="locationInfo">
    <h5>State: #= state #</h5>
    <h6>City: #= city #</h6>
</script>