<div data-role="view" data-title="Home" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <ul id="reports" style="margin-bottom:10px;margin-top:0px;">
        <li style="width: 25%;height: 2.7em;border-top-left-radius: 50px;border-bottom-left-radius: 50px;">
            Наоколо
        </li>
        <li style="width: 25%;height: 2.7em;border-top-right-radius: 50px;border-bottom-right-radius: 50px;">
            Последни
        </li>
    </ul>
    <div data-role="scroller" class="around-reports" style="width: 100%;">
        <div class="kor" style="overflow:hidden;">
            <div class="report-info" style="background-image: url('images/temp/SM-G900F4831.JPG');">
                <div class="profile-image">
                    <img src="images/temp/user_profile_img.png" width="50">
                </div>
                <div class="report-date">
                    <img src="images/temp/clock-icon-300x300.png" width="14">
                    <p style="margin-left: 0.2rem;">
                        2 дни, 12 часа
                    </p>
                </div> 
                <div class="report-followers">
                    <img src="images/temp/gnome_stock_person.png" width="15">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        8
                    </p>
                </div>
                <div class="ad-category-info">
                    <img src="images/temp/map-marker-256-white.png" width="15" class="marker-report">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        бул, Тодор Александров, 30
                    </p>
                    <a data-role="button" style="display:inline-block;border-radius:30px;width:80px;float:right;top:5px;">#дупка</a>
                </div>
            </div>
        </div>
        <div class="kor" style="overflow:hidden;">
            <div class="report-info" style="background-image: url('images/temp/SM-G900F4831.JPG');">
                <div class="profile-image">
                    <img src="images/temp/user_profile_img.png" width="50">
                </div>
                <div class="report-date">
                    <img src="images/temp/clock-icon-300x300.png" width="14">
                    <p style="margin-left: 0.2rem;">
                        2 дни, 12 часа
                    </p>
                </div>
                <div class="report-followers">
                    <img src="images/temp/gnome_stock_person.png" width="15">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        8
                    </p>
                </div>
                <div class="ad-category-info">
                    <img src="images/temp/map-marker-256-white.png" width="15" class="marker-report">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        бул, Тодор Александров, 30
                    </p>
                    <a data-role="button" style="display:inline-block;border-radius:30px;width:80px;float:right;top:5px;">#дупка</a>
                </div>
            </div>
        </div>
        <div class="kor" style="overflow:hidden;">
            <div class="report-info" style="background-image: url('images/temp/SM-G900F4831.JPG');">
                <div class="profile-image">
                    <img src="images/temp/user_profile_img.png" width="50">
                </div>
                <div class="report-date">
                    <img src="images/temp/clock-icon-300x300.png" width="14">
                    <p style="margin-left: 0.2rem;">
                        2 дни, 12 часа
                    </p>
                </div>
                <div class="report-followers">
                    <img src="images/temp/gnome_stock_person.png" width="15">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        8
                    </p>
                </div>
                <div class="ad-category-info">
                    <img src="images/temp/map-marker-256-white.png" width="15" class="marker-report">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        бул, Тодор Александров, 30
                    </p>
                    <a data-role="button" style="display:inline-block;border-radius:30px;width:80px;float:right;top:5px;">#дупка</a>
                </div>
            </div>
        </div>
        <div class="kor" style="overflow:hidden;">
            <div class="report-info" style="background-image: url('images/temp/SM-G900F4831.JPG');">
                <div class="profile-image">
                    <img src="images/temp/user_profile_img.png" width="50">
                </div>
                <div class="report-date">
                    <img src="images/temp/clock-icon-300x300.png" width="14">
                    <p style="margin-left: 0.2rem;">
                        2 дни, 12 часа
                    </p>
                </div>
                <div class="report-followers">
                    <img src="images/temp/gnome_stock_person.png" width="15">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        8
                    </p>
                </div>
                <div class="ad-category-info">
                    <img src="images/temp/map-marker-256-white.png" width="15" class="marker-report">
                    <p style="margin-left: 0rem;margin-right: 0.2rem;">
                        бул, Тодор Александров, 30
                    </p>
                    <a data-role="button" style="display:inline-block;border-radius:30px;width:80px;float:right;top:5px;">#дупка</a>
                </div>
            </div>
        </div>
    </div>
</div>