<div data-role="view" data-title="Home" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <ul id="reports" style="margin-bottom:10px;margin-top:0px;">
        <li  style="width: 25%;height: 2.7em;border-top-left-radius: 50px;border-bottom-left-radius: 50px;">
            Наоколо
        </li>
        <li style="width: 25%;height: 2.7em;border-top-right-radius: 50px;border-bottom-right-radius: 50px;">
            Последни
        </li>
    </ul>
    <div id="import-reports" data-role="scroller" style="width: 100%;">
       
    </div>
</div>